@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main{
    /* background-color: rgb(192,192,192); */
    height: 100px;
}

i{
    margin-right: auto;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

i:hover{
    color: rgba(0, 0, 0, 0.3);
}

p{
    margin-right: 723px;
}

li, a, button, p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px, 10%;
    background-color: #ededed;
}

.nav_bar{
    list-style: none;
    margin-top: 5px;
}

.nav_bar li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_bar li a{
    transition: all 0.3s ease 0s;
}

.nav_bar li a:hover{
    color: rgba(0, 0, 0, 0.3);
}

button{
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 15px;
    margin-bottom: 15px; 
    padding: 9px 25px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
}

