.first{
    width: 600px;;
    background-color: #7EE5DA;
    text-align: center;
}

.second{
    width: 400px;;
    background-color: #70CCC2;
    text-align: center;
}

.third{
    width: 600px;
    background-color: #62B3AA;
    text-align: center;
}